<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="kr.co.kfs.assetedu.repository.Com02CodeRepository">
	<sql id="whereQueryAttr">
		<!-- 검색조건 -->
		<if test="com02ComCd != null and com02ComCd != ''">
			AND com02_com_cd = #{com02ComCd}
		</if>
		<if test="com02DtlCd != null and com02DtlCd != ''">
			AND com02_dtl_cd = #{com02DtlCd}
		</if>
		<if test="com02CodeType != null and com02CodeType !=''">
			AND com02_code_type = #{com02CodeType}
		</if>
		<if test="com02UseYn != null and  com02UseYn != ''">
			AND COALESCE(com02_use_yn,'false') = #{com02UseYn}
		</if>
		<if test="searchText != null and  searchText != ''">
			AND concat(com02_code_nm,' ', com02_com_cd, ' ',
			com02_com_cd,' ', com02_note) like concat('%',#{searchText},'%')
		</if>
		<if test = "selectCorpType != null and  selectCorpType == ''">
			AND com01_corp_type = #{selectCorpType}
		</if>
	</sql>
	<select id="selectCount" parameterType="QueryAttr"
		resultType="Integer">
		SELECT
		count(*) as count
		FROM
		com03_date
		WHERE 1=1
		<include refid="whereQueryAttr" />
	</select>

	<select id="selectList" parameterType="QueryAttr"
		resultType="Com02Code">
		select com02_com_cd as com02ComCd
		, com02_dtl_cd as com02DtlCd
		, com02_code_nm as com02CodeNm
		, com02_code_type as com02CodeType
		, com02_seq as com02Seq
		, com02_use_yn as com02UseYn
		, com02_note as com02Note
		from com02_code
		where 1=1 
		<include refid="whereQueryAttr" />
		Order by com02_com_cd, com02_dtl_cd, com02_seq
	</select>
	<select id="selectOne" parameterType="Com02Code" resultType="Com02Code">
	select com02_com_cd as com02ComCd
		, com02_dtl_cd as com02DtlCd
		, com02_code_nm as com02CodeNm
		, com02_code_type as com02CodeType
		, com02_seq as com02Seq
		, com02_use_yn as com02UseYn
		, com02_note as com02Note
		from com02_code
		where 1=1
			AND com02_com_cd  = #{com02ComCd}
	       	AND com02_dtl_cd = #{com02DtlCd}
	</select>
	
	<select id = "selectTrList" parameterType="String" resultType="Com02Code">
	SELECT 		jnl12_tr_cd AS com02_dtl_cd
			,	jnl12_tr_nm	AS com02_code_nm
		FROM jnl12_tr
		WHERE jnl12_use_page_type = #{trType}
		AND jnl12_use_yn = 'true'
	</select>
	<insert id="insert" parameterType="Com02Code">
	insert into  com02_code (com02_com_cd, com02_dtl_cd, com02_code_nm, com02_code_type
				, com02_seq, com02_use_yn, com02_note)
	values (#{com02ComCd}, #{com02DtlCd}, #{com02CodeNm}, #{com02CodeType}, #{com02Seq}
			,#{com02UseYn}, #{com02Note})
	</insert>
	<update id="update" parameterType="Com02Code">
	update com02_code set
	  com02_code_nm = #{com02CodeNm}
	, com02_code_type = #{com02CodeType}
	, com02_seq = #{com02Seq}
	, com02_use_yn = #{com02UseYn} 
	, com02_note = #{com02Note}
	where 1=1 
	and com02_com_cd = #{com02ComCd}
	and com02_dtl_cd = #{com02DtlCd}
	</update>
	
	<delete id="delete" parameterType="Com02Code">
	delete from com02_code
	where 1=1
	and com02_com_cd = #{com02ComCd} 
	<if test="com02DtlCd != null and com02DtlCd != ''">
	and com02_dtl_cd = #{com02DtlCd}</if>
	
	</delete>
</mapper>