<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kfs.assetedu.repository.Itm01ItemRepository">
   <sql id="whereQueryAttr">
		<!--    검색조건 -->
		<if test="itm01ItemCd != null and itm01ItemCd != ''">
			AND itm01_item_cd  = #{itm01ItemCd}
		</if>
		<if test="itm01ItemNm != null and itm01ItemNm != ''">
			AND itm01_item_nm = #{itm01ItemNm}
		</if>
		<if test="itm01ItemEnm != null and itm01ItemEnm !=''">
			AND itm01_item_enm = #{itm01ItemEnm}
		</if>
		<if test="itm01ShortCd != null and itm01ShortCd !=''">
			AND itm01_short_cd = #{itm01ShortCd}
		</if>
			<if test="itm01IssType != null and itm01IssType !=''">
			AND itm01_iss_type = #{itm01IssType}
		</if>
			<if test="itm01StkType != null and itm01StkType !=''">
			AND itm01_stk_type = #{itm01StkType}
		</if>
			<if test="itm01ListType != null and itm01ListType !=''">
			AND itm01_list_type = #{itm01ListType}
		</if>
			<if test="itm01MarketType != null and itm01MarketType !=''">
			AND itm01_market_type = #{itm01MarketType}
		</if>
			<if test="itm01Par != null and itm01Par !=''">
			AND itm01_par = #{itm01Par}
		</if>
			<if test="itm01IssCoCd != null and itm01IssCoCd !=''">
			AND itm01_iss_co_cd = #{itm01IssCoCd}
		</if>
		<if test="searchText != null and  searchText != ''">
			AND concat(itm01_item_cd,' ', itm01_item_nm, ' ', itm01_item_enm,' ', itm01_short_cd,' ',itm01_iss_type,' '
			,itm01_stk_type,' ',itm01_list_type,' ',itm01_market_type,' ',itm01_par,' ',itm01_iss_co_cd) like concat('%',#{searchText},'%')
		</if>
	</sql>
	<select id="selectCount" parameterType="QueryAttr" resultType="Integer">
   		SELECT 
   			count(*) as count
   		FROM
   			com03_date
   		WHERE 1=1
   			<include refid="whereQueryAttr"/>	
   </select> 
   
   <select id="selectList" parameterType="QueryAttr" resultType="Itm01Item">
	  select itm01_item_cd as com02ComCd 
	  , itm01_item_nm as com02DtlCd
	  , itm01_item_enm as com02CodeNm
	  , itm01_short_cd as com02CodeType
	  , itm01_iss_type as com02Seq
	  , itm01_stk_type as com02UseYn
	  , itm01_list_type as com02Note
	  , itm01_list_type as com02Note
	  , itm01_list_type as com02Note
	  , itm01_list_type as com02Note
	  
	  from com02_code
	  where 1=1
	  <include refid="whereQueryAttr"/>
	  Order by com02_com_cd, com02_dtl_cd, com02_seq
   </select>
   
  
   </mapper>