<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kfs.assetedu.repository.Itm01ItemRepository">
   <sql id="whereQueryAttr">
		<!--    검색조건 -->
		<if test="itm01ItemCd != null and itm01ItemCd != ''">
			AND itm01_item_cd  = #{itm01ItemCd}
		</if>
		<if test="itm01ItemNm != null and itm01ItemNm != ''">
			AND itm01_item_nm = #{itm01ItemNm}
		</if>
		<if test="itm01ItemEnm != null and itm01ItemEnm !=''">
			AND itm01_item_enm = #{itm01ItemEnm}
		</if>
		<if test="itm01ShortCd != null and itm01ShortCd !=''">
			AND itm01_short_cd = #{itm01ShortCd}
		</if>
			<if test="itm01IssType != null and itm01IssType !=''">
			AND itm01_iss_type = #{itm01IssType}
		</if>
			<if test="itm01StkType != null and itm01StkType !=''">
			AND itm01_stk_type = #{itm01StkType}
		</if>
			<if test="itm01ListType != null and itm01ListType !=''">
			AND itm01_list_type = #{itm01ListType}
		</if>
			<if test="itm01MarketType != null and itm01MarketType !=''">
			AND itm01_market_type = #{itm01MarketType}
		</if>
			<if test="itm01Par != null and itm01Par !=''">
			AND itm01_par = #{itm01Par}
		</if>
			<if test="itm01IssCoCd != null and itm01IssCoCd !=''">
			AND itm01_iss_co_cd = #{itm01IssCoCd}
		</if>
		<if test="searchText != null and  searchText != ''">
			AND upper(concat(itm01_item_cd,' ', itm01_item_nm, ' ', itm01_item_enm,' ', itm01_short_cd,' ',itm01_iss_type,' '
			,itm01_stk_type,' ',itm01_list_type,' ',itm01_market_type,' ',itm01_par,' ',itm01_iss_co_cd)) like upper(concat('%',#{searchText},'%'))
		</if>
	</sql>
	<select id="selectCount" parameterType="QueryAttr" resultType="Integer">
   		SELECT 
   			count(*) as count
   		FROM
   			com03_date
   		WHERE 1=1
   			<include refid="whereQueryAttr"/>	
   </select> 
   
   <select id="selectList" parameterType="QueryAttr" resultType="Itm01Item">
	  select itm01_item_cd as itm01ItemCd 
	  , itm01_item_nm as itm01ItemNm
	  , itm01_item_enm as itm01ItemEnm
	  , itm01_short_cd as itm01ShortCd
	  , itm01_iss_type as itm01IssType
	  , itm01_stk_type as itm01StkType
	  , itm01_list_type as itm01ListType
	  , itm01_market_type as itm01MarketType
	  , itm01_par as itm01Par
	  , itm01_iss_co_cd as itm01IssCoCd
	  , f_com_nm('StkType',itm01_stk_type) as itm01StkTypeNm
	  , f_com_nm('ListType',itm01_list_type) as itm01ListTypeNm
	  , f_com_nm('MarketType',itm01_market_type) as itm01MarketTypeNm
	  from itm01_item
	  where 1=1
	  <include refid="whereQueryAttr"/>
	  Order by itm01_item_cd, itm01ItemNm
   </select>
   
   <insert id="insert" parameterType="Itm01Item">
   insert into itm01_item(itm01_item_cd, itm01_item_nm, itm01_item_enm, itm01_short_cd
   						,	itm01_iss_type, itm01_stk_type, itm01_list_type, itm01_market_type
   						,	itm01_par, itm01_iss_co_cd)
   values(#{itm01ItemCd},#{itm01ItemNm},#{itm01ItemEnm},#{itm01ShortCd}
   		, #{itm01IssType},#{itm01StkType},#{itm01ListType},#{itm01MarketType}
   		, #{itm01Par},#{itm01IssCoCd})
   </insert>
   
   <select id="selectOne" parameterType="Itm01Item" resultType="Itm01Item">
   select itm01_item_cd as itm01ItemCd 
	  , itm01_item_nm as itm01ItemNm
	  , itm01_item_enm as itm01ItemEnm
	  , itm01_short_cd as itm01ShortCd
	  , itm01_iss_type as itm01IssType
	  , itm01_stk_type as itm01StkType
	  , itm01_list_type as itm01ListType
	  , itm01_market_type as itm01MarketType
	  , itm01_par as itm01Par
	  , itm01_iss_co_cd as itm01IssCoCd
   from itm01_item 
   where itm01_item_cd = #{itm01ItemCd}
   </select>
   
   <update id="update" parameterType="Itm01Item">
   update itm01_item 
   set itm01_item_nm = #{itm01ItemNm}, itm01_item_enm = #{itm01ItemEnm} 
   , itm01_short_cd = #{itm01ShortCd} 	, itm01_iss_type = #{itm01IssType} , itm01_stk_type = #{itm01StkType} 
   , itm01_list_type = #{itm01ListType} , itm01_market_type = #{itm01MarketType} , itm01_par = #{itm01Par} 
   , itm01_iss_co_cd= #{itm01IssCoCd} 
   where itm01_item_cd = #{itm01ItemCd}
   </update>
   
   <delete id ="delete"	parameterType="Itm01Item">
   delete from itm01_item
   where itm01_item_cd = #{itm01ItemCd}
   </delete>
 
   </mapper>