<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kfs.assetedu.repository.Jnl10AcntRepository">
   <sql id="whereQueryAttr">
		<!--    검색조건 -->
		<if test="jnl10AcntCd != null and jnl10AcntCd != ''">
			AND jnl10_acnt_cd  = #{jnl10AcntCd}
		</if>
		<if test="jnl10AcntNm != null and jnl10AcntNm != ''">
			AND jnl10_acnt_nm = #{jnl10AcntNm}
		</if>
		<if test="parentCode != null and parentCode != ''">
		<choose>
				<when test="parentCode == 'parent'">
				    AND COALESCE(jnl10_slip_yn,'false') = 'false'
				</when>
				<when test="parentCode == 'child'">
                    AND COALESCE(jnl10_slip_yn,'false') = 'true'
				</when>
				<otherwise>
					AND jnl10_parent_cd  = #{parentCode}				
				</otherwise>
		</choose>
		</if>
		<if test="searchText != null and  searchText != ''">
			AND upper(concat(jnl10_acnt_cd,' ', jnl10_acnt_nm)) like upper(concat('%',#{searchText},'%'))
		</if>
	</sql>
	<select id="selectList" parameterType="QueryAttr" resultType="Jnl10Acnt">
	select jnl10_acnt_cd as jnl10AcntCd
			,jnl10_acnt_nm as jnl10AcntNm
			,jnl10_parent_cd as jnl10ParentCd
			, jnl10_acnt_attr_cd as jnl10AcntAttrCd
			, jnl10_drcr_type as jnl10DrcrType
			, jnl10_slip_yn as jnl10SlipYn
			, jnl10_use_yn as jnl10UseYn
			, jnl10_drcr_type_Nm as jnl10DrcrTypeNm
			, jnl10_acnt_attr_Nm as jnl10AcntAttrNm
	from (select jnl10_acnt.* , f_com_nm('DrcrType', jnl10_drcr_type) as jnl10_drcr_type_Nm 
			,f_com_nm('AcntAttrCode',jnl10_acnt_attr_cd) as jnl10_acnt_attr_Nm from jnl10_acnt)
	where 1=1
	<include refid="whereQueryAttr"/>
	order by jnl10_acnt_cd
	<if test="pageAttr != null and pageAttr.offset != null">
	      	OFFSET #{pageAttr.offset}
		</if>   
		 <if test="pageAttr != null and pageAttr.limit != null">
		 	LIMIT #{pageAttr.limit}
		 </if>
	</select>
	
	
	<select id="selectCount" parameterType="QueryAttr" resultType="Long">
	select count(*) as count 
	from jnl10_acnt 
	where 1=1
	</select>
	
	<select id="selectOne" parameterType="Jnl10Acnt" resultType="Jnl10Acnt">
	select jnl10_acnt_cd as jnl10AcntCd
			,jnl10_acnt_nm as jnl10AcntNm
			,jnl10_parent_cd as jnl10ParentCd
			, jnl10_acnt_attr_cd as jnl10AcntAttrCd
			, jnl10_drcr_type as jnl10DrcrType
			, jnl10_slip_yn as jnl10SlipYn
			, jnl10_use_yn as jnl10UseYn
			, jnl10_drcr_type_Nm as jnl10DrcrTypeNm
			, jnl10_acnt_attr_Nm as jnl10AcntAttrNm
	from (select jnl10_acnt.* , f_com_nm('DrcrType', jnl10_drcr_type) as jnl10_drcr_type_Nm 
			,f_com_nm('AcntAttrCode',jnl10_acnt_attr_cd) as jnl10_acnt_attr_Nm from jnl10_acnt)
	where jnl10_acnt_cd = #{jnl10AcntCd}
	</select>
	
	<insert id="insert" parameterType="Jnl10Acnt">
	insert into jnl10_acnt
	(jnl10_acnt_cd, jnl10_acnt_nm, jnl10_parent_cd, jnl10_acnt_attr_cd
	,	jnl10_drcr_type, jnl10_slip_yn, jnl10_use_yn)
	values(#{jnl10AcntCd},#{jnl10AcntNm},#{jnl10ParentCd},#{jnl10AcntAttrCd}
		,#{jnl10DrcrType},#{jnl10SlipYn},#{jnl10UseYn})
	</insert>
	
	<update id="update" parameterType="Jnl10Acnt">
	update jnl10_acnt set
	jnl10_acnt_nm = #{jnl10AcntNm},jnl10_parent_cd = #{jnl10ParentCd},jnl10_acnt_attr_cd = #{jnl10AcntAttrCd}
	,jnl10_drcr_type = #{jnl10DrcrType},jnl10_slip_yn = #{jnl10SlipYn},jnl10_use_yn = #{jnl10UseYn}
	where jnl10_acnt_cd = #{jnl10AcntCd}
	</update>
	
	<delete id="delete" parameterType="String">
	delete from jnl10_acnt 
	where jnl10_acnt_cd = #{jnl10AcntCd}
	</delete>
	
	</mapper>